﻿
@{
    Layout = null;

    var movie1 = new { Rank = 1, Title = "The Shawshank Redemption", Year = 1994 };

    var movie2 = new { Rank = 2, Title = "The Godfather", Year = 1972 };

    var movie3 = new { Rank = 3, Title = "The Godfather - Part II", Year = 1974 };

    var movie4 = new { Rank = 4, Title = "The Dark Knight", Year = 2008 };

    var movie5 = new { Rank = 5, Title = "Pulp Fiction", Year = 1994 };

    //Create a list out of those 5 movies.

    var moviesList = new[] { movie1, movie2, movie3, movie4, movie5 }.ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <b>Movies:</b>

<table border="1">
    <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Year</th>
    </tr>
@foreach (var movie in moviesList)
{
    <tr>
        <td>@movie.Rank</td>
        <td>@movie.Title</td>
        <td>@movie.Year</td>
    </tr>
}
</table>
</div>
</body>
</html>
